.Polaris-ResourceItem__Container {
    display: flex;
    align-items: center;
}
.resource__list {
    &--row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -1rem;
        flex-flow: row wrap;
        >div {
            flex: 1 0;
            margin-left: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
        }
    }
    &--pagination {
        display: flex;
        justify-content:center;
        padding-bottom: 15px;
    }
}
.Polaris-ResourceItem__ListItem {
    box-shadow: 0 -.1rem 0 0 var(--p-divider,#dfe3e8);
}
.btn-product {
    display: flex;
    >button {
        width: 50px;
        margin-right: 5px;
    }
}